//
// Siwapp Navbar
//

.siwapp-navbar {
  border-bottom: 1px solid $generic-border-color;
  position: fixed;
  width: 100%;
  z-index: 1010;
  
  .nav-contents {
    max-width: 1110px;
    margin: 0 auto;
  }

	.navbar-brand {
    display: inline-block;
    width: 8rem;
    padding-top: 0;
    padding-bottom: 0;

    img {
      width: auto;
      height: 2.5rem;
    }
  }
}

.siwapp-navbar-scroll {
  @include clearfix;
  clear: both;
  padding-left: 1rem;
  padding-right: 1rem;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  .nav-item {
    display: inline-block;
    float: none;
    &:last-child {
      margin-right: 1rem;
    }
  }
}
