.search-form {
  width: 600px;
  position: relative;
}

.input-search {
  display: flex;
  border: 1px solid $generic-border-color;
  border-radius: 0.25rem;
  overflow: hidden;
  
  .form-control {
    border: none;
  }
  
  .material-icons {
    width: initial;
    height: initial;
    border-radius: initial;
  }
}

.search-filters {
  position: absolute;
	background: white;
  width: 100%;
}

.search-filters__content {
  padding: 1rem;
  border: 1px solid $generic-border-color;
}